@import "mixins";


.CalendarEventGridfieldDetailForm {
	.field {
		border:none;
		box-shadow:none;
		padding:0px;
	}

	input {
		@include input-placeholder {
			color: #bfbfbf;
			font-style: italic;
		}
	}

	.middleColumn {
		margin-left:100px;
	}
	label.left {
		width:85px;
	}


	#Form_ItemEditForm_AllDay_Holder,
	#Form_ItemEditForm_NoEnd_Holder {
		float:left;
		padding-left:10px;
		padding-top:5px;
		padding-bottom:0px;
		input {
			min-height:10px;
		}
	}
	#Form_ItemEditForm_StartDateTime_Holder {
		float:left;
		clear:both;
	}


	#Form_ItemEditForm_StartDateTime_Holder,
	#Form_ItemEditForm_EndDateTime_Holder {
		.middleColumn {
			width:auto;
			margin-right:10px;
		}
		input {
			width:110px;

			//styling the readonly field
			cursor:pointer;
		}
	}

	h5#Form_ItemEditForm_TimeFrameHeader {
		margin-bottom:12px;
		clear:both;
	}

	ul.selectiongroup {
		@include clearfix;
		margin:0px;

		li {
			margin-bottom:10px;
			div.field {
				margin:0px;
			}
			>label {
				width:auto;
				float:left;
			}
		}

		#Form_ItemEditForm_Duration_Holder {
			@include clearfix;
			margin-left:100px;
			label.right {
				margin:0px;
				margin-top:1px;
			}
			input {
				width:100px;
			}
		}

	}

	.clear {
		clear:both;
	}

	#Form_ItemEditForm_CalendarID_Holder {
		margin-top:15px;
		width:350px;
	}
}